#MainNavBar {
  position: relative;

  width: 100%;
  height: vw(100px);

  padding: 0 vw(135px) 0 vw(66px);
  box-shadow: 0px 3px 4px rgba(229, 229, 229, 0.65);

  .logo {
    margin-right: vw(25px);

    width: vw(65px);
    height: vw(60px);
  }
  .title {
    margin-right: vw(54px);

    white-space: nowrap;
  }

  .nav-container {
    width: 100%;

    .left-nav {
      &__link + .left-nav__link {
        margin-left: vw(40px);
      }

      .btn--active {
        color: $MAIN_YELLOW;
      }

      .btn--unactive {
        color: $MAIN_GRAY;
      }
    }

    .right-nav {
      &__link + .right-nav__link {
        margin-left: vw(28px);
      }

      .alarm,
      .msg {
        width: vw(30px);
        height: vw(30px);
      }
      .user {
        width: vw(48px);
        height: vw(48px);
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #MainNavBar {
    height: vw-t(100px);
    padding: 0 vw-t(40px);

    .logo {
      margin-right: vw-t(25px);

      width: vw-t(65px);
      height: vw-t(60px);
    }

    .nav-container {
      .left-nav {
        &__link + .left-nav__link {
          margin-left: vw-t(24px);
        }
      }

      .right-nav {
        &__link + .right-nav__link {
          margin-left: vw-t(20px);
        }

        .alarm,
        .msg {
          width: vw-t(30px);
          height: vw-t(30px);
        }

        .user {
          width: vw-t(48px);
          height: vw-t(48px);
        }
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #MainNavBar {
    height: vw-p(100px);
    padding: 0 vw-p(16px) 0 vw-p(24px);

    .logo {
      margin-right: vw-p(15px);

      width: vw-p(32px);
      height: vw-p(32px);
    }

    .nav-container {
      .left-nav {
        &__link {
          font-size: vw-p(16px);
        }
        &__link + .left-nav__link {
          margin-left: vw-p(17px);
        }
      }

      .right-nav {
        display: none;
      }

      .menu-icon {
        display: block;
        width: vw-p(20px);
        height: vw-p(20px);
      }
    }
  }
}
