#editor {
  .editor {
    width: (570px);
  }
  .quill {
    margin-top: (24px);
  }
  .ql {
    &-toolbar {
      border-radius: (24px);
      display: flex;
      justify-content: center;
    }
    &-container {
      font-size: (24px);
      border-radius: (24px);
      margin-top: (36px);
      border: 1px solid #d9d9d9;
      min-height: 60vh;
    }
    &-editor {
      padding: (36px);
    }
  }
  .send {
    border-radius: (24px);
    width: 100px;
    height: 44px;
    background-color: $MAIN_YELLOW;
    margin-top: (32px);
    margin-bottom: 100px;
  }
}
